.container {
    display: flex;
    opacity: 0;
    transition: opacity 0.4s;
}

.card {
    flex-basis: 100%;
    margin:48px;
    border: 1px solid #999;
    background: white;
    padding: 24px;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid green;
        padding: 6px;
    }
}