div.page {
  background-color: #dedede;
}



div.products-wrapper {
  padding:20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #f1f1f1;
  gap: 20px;

  @media (max-width: 900px) {
    flex-wrap: wrap;
  }
}


